services:
  openwebui:
    container_name: openweb_ui
    image: ghcr.io/open-webui/open-webui:main
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    environment:
      - OLLAMA_API_BASE_URL=http://ollama:11434/api
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.openwebui.entrypoints: websecure
      traefik.http.routers.openwebui.rule: Host(`chat.your-domain.com`)
      traefik.http.services.openwebui.loadbalancer.server.port: 8080
      traefik.http.routers.openwebui.tls.certresolver: myresolver
      traefik.http.routers.openwebui.tls: true
      traefik.http.routers.openwebui.middlewares: security@docker, anubis@docker # Use to apply security middlewares
    networks:
      - entry
      - openwebui
    restart: unless-stopped

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    restart: unless-stopped
    environment:
      - OLLAMA_NUM_PARALLEL=4
      - OLLAMA_MAX_LOADED_MODELS=3
    networks:
      - openwebui
volumes:
  open-webui:
networks:
  openwebui:
    name: openweb_ui