services:
  front_kitchenowl:
    container_name: kitchenowl_frontend
    image: tombursch/kitchenowl-web:latest
    networks:
      - entry
      - kitchenowl
    restart: unless-stopped
    depends_on:
      - back
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kitchenowl.rule=Host(`your.domain.here`)"
      - "traefik.http.routers.kitchenowl.entrypoints=websecure"
      - "traefik.http.routers.kitchenowl.tls.certresolver=myresolver"
      - "traefik.http.services.kitchenowl.loadbalancer.server.port=80"
      - "traefik.http.routers.kitchenowl.middlewares=security@docker, anubis@docker" # Use to apply security middlewares


  back:
    image: tombursch/kitchenowl:latest
    container_name: kitchenowl_server
    networks:
      - kitchenowl
    restart: unless-stopped
    environment:
      - FRONT_URL=https://your.domain.here
      - JWT_SECRET_KEY=/run/secrets/db-password
    volumes:
      - ./kitchen_owl/data:/data
networks:
  kitchenowl:
    name: kitchenowl
  
