services:
  radicale:
    image: ghcr.io/kozea/radicale:3.5.4
    user: root
    volumes:
      - ./radicale/config:/etc/radicale:ro
      - ./radicale/data:/var/lib/radicale
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.radicale.entrypoints: websecure
      traefik.http.routers.radicale.rule: Host(`radicale.your-domain.com`)
      traefik.http.services.radicale.loadbalancer.server.port: 5232
      traefik.http.routers.radicale.tls.certresolver: myresolver
      traefik.http.routers.radicale.tls: true
      traefik.http.routers.radicale.middlewares: security@docker, anubis@docker # Use to apply security middlewares
    networks:
      - entry